<% if !@result.nil? %>
<article class="row">
  <section id='poster_side' class="offset1 span4">
    <img id='poster' src="<%= @result['Poster'] %>">
  </section>
  <section id='text_side' class="span6">
    <section>
      <h1 id='title'><%= @result['Title'] %> (<%= @result['Year'] %>)</h1>
      <div id='released'>Released: <%= @result['Released'] %></div>
      <div id='runtime'>Run Time: <%= @result['Runtime'] %></div>
      <div id='Genre'><%= @result['Genre'] %></div>
    </section>
    <section id='staff'>
      <div id='director'>
        Directed:<br />
        <%= @result['Director'] %>
      </div>
      <div id='writer'>
        Written:<br />
        <%= @result['Writer'] %>
      </div>
      <div id='actors'>
        Starring:<br />
        <%= @result['Actors'] %>
      </div>
    </section>
    <section>
      <div id='plot'>
        <%= @result['Plot'] %>
      </div>
      <!-- <div id='imdb_rating'><%= @result['imdbRating'] %></div> -->
      <!-- <div id='imdb_votes'><%= @result['imdbVotes'] %></div> -->
    </section>

      <div id='rating_stamp'>
        <img height="70px" src='<%= @result['rating_img'] %>' />
      </div>

  </section>
</article>
<% else %>
  <header><h1>No movie selected</h1></header>
<% end %>